.online {
  background-color: green;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-top: 50px;
}

.offline {
  background-color: red;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-top: 50px;
}
.list-item {
  list-style: none;
  display: flex;
  margin-top: 50px;
}
.friend-name {
  margin-top: 50px;
  font-weight: bold;
}
